/* CSS Document */

#main{
  background-color: #e6ebe7;
}

.banner{
  background-color: rgba(164, 210, 173, 0.6);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  border-rad
}

.centered {
 text-align: center;
}

.headline {
  font-family: 'Roboto', sans-serif;
  
}

.quote {
  font-family: 'Roboto', sans-serif;
  color: #606360;
}

#image{
  display: block;
  width: 315px;
  max-width: 100%;
  height: auto;
  box-shadow: 10px 10px 70px 20px rgba(87, 85, 84, 0.4);
  margin: auto;
  
}


figcaption {
  font-family: 'Montserrat', sans-serif;
  font-size: smaller;
  font-weight: 10;
  width: 100%;
  
}

.text {
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
}

.impact-img {
  width: 400px;
  height: auto;
}

.impact-container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.img-and-caption {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.impact-text {
  display: flex;
  flex-direction: column;
  width: 40%;
  
}

#tribute-info {
  margin: 120px;
}

#impact-headline {
  margin: 40px 0px 20px 310px;
}

#title {
  font-size: 40px;
  font-family: 'Fraunces'
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 400px) {
  p {
    font-size: 10px;
  }
  
  .headline {
    font-size: 15px;
  }
  
  figcaption {
    font-size: 8px;
  }
  
  #impact-headline {
    text-align: centered;
    margin: 10px;
  }
  
  #tribute-info {
    margin: 10px;
  }
  
  .impact-container {
    display: flex;
    flex-direction: column;
  }
  
  .img-and-caption {
    max-width: 60%;
  }
  
  .impact-text {
    width: 100%;
  }
  
  #main-img {
    max-width: 70%;
  }
}